/***************************

          GAME

***************************/

#backgroundGame {
  background: url(../images/backgroundGame.jpg);
  width: 914px;
  height: 663px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#lives{
  width: 125px;
  padding: 10px;
}

#score{
  width: 150px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 5px;
}

#sentence {
  background-image: url(../images/bubble.png);
  font-family: "futura";
  font-size: 24px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  top: 0;
  width: 500px;
  z-index: 2;
  position: absolute;
  width: 700px;
  height: 275px;
  left: 50%;
  transform: translate(-50%);
  padding-top: 100px;
}

#rules {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 25px;
  color: #ffffff;
  z-index: 99;
}

#winText, #loseText {
  display:none;
}

#buttonStart {
  background-color: #75ca00;
  border: none;
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
}

#buttonStart:hover {
  background-color: #ffffff;
  color: #75ca00;
  transition: 300ms linear all;
}

#divScoreTotal{
  position: absolute;
  bottom: 25px;
  background: rgba(0,0,0,0.5);
  color: #ffffff;
  font-size: 24px;
  padding: 5px;
  border-radius: 15px;
  width: 250px;
  left: 25px;
}


/************ DOORS ************/

.close {
  display: none;
}

#doorL1, #doorR1 {
  position: absolute;
  top: 132px;
  z-index: 90;
}

#doorL1{
  left: 3px;
}

#doorR1{
  right: 3px;
}

#doorL2, #doorR2 {
  position: absolute;
  top: 190px;
  z-index: 80;
  width: 171px;
}

#doorL2{
  left: 136px;
}

#doorR2{
  right: 136px;
}

#doorL3, #doorR3 {
  position: absolute;
  top: 232px;
  z-index: 70;
  width: 127px;
}

#doorL3 {
  left: 231px;
}

#doorR3 {
  right: 231px;
}


/************ CHARACTERS ************/

.rotationLeftCharacters{
  transition: 300ms;
  transform: rotate(40deg);
}

.rotationRightCharacters{
  transition: 300ms;
  transform: rotate(-40deg);
}

#characterL1, #characterR1{
  width: 170px;
  position: absolute;
  z-index: 89;
  top: 75px;
}

#characterL1{
  left: 100px;
}

#characterR1{
  right: 120px;
}

#characterL2, #characterR2{
  width: 125px;
  position: absolute;
  z-index: 79;
  top: 175px;
}

#characterL2{
  left: 210px;
}

#characterR2{
  right: 215px;
}

#characterL3, #characterR3{
  width: 95px;
  position: absolute;
  z-index: 69;
  top: 225px;
}

#characterL3{
  left: 300px;
}

#characterR3{
  right: 300px;
}